.configuration-container {
  background-color: #475569;
  width: 100%;
  height: 200px;
  padding: 20px;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.label-el {
  color: #f1f5f9;
  font-size: 15px;
  margin-left: 8px;
}
.layout-heading {
  color: #f1f5f9;
  font-size: 28px;
}
